<div class="sidebar">
    <div class="admin-info">
        <img src="assets/img/admin.jpg" alt="Admin" class="admin-img">
        <h4 class="admin-name">Nombre Admin</h4>
    </div>

    <nav class="nav-links">
        <a href="../d-inicio/">Inicio</a>
        <a href="../d-peluqueria/">Peluquería</a>
        <a href="../d-servicios/">Servicios</a>
        <a href="../d-productos/">Productos</a>
        <a href="../d-galeria/">Galería</a>
        <a href="../d-blog/">Blog</a>
        <a href="../d-acerca-de-mi/">Acerca de mí</a>
        <a href="../d-contactame/">Contáctame</a>
        <a href="../d-metricas/">Métricas</a>
    </nav>

    <div class="bottom-links">
        <a href="../d-crear-perfil/">Crear perfil</a>
        <a href="#">Cerrar sesión</a>
    </div>
</div>