<app-hi></app-hi>
<br><br><br><br><br>


<div class="blog-container">
    <div class="tabs">
        <button *ngFor="let categoria of categorias" (click)="seleccionarCategoria(categoria)"
            [class.active]="categoria === categoriaSeleccionada">
            {{ categoria }}
        </button>
    </div>

    <div class="cards-grid">
        <div class="card" *ngFor="let post of postsFiltrados" [class.expanded]="post.expandido">
            <img [src]="post.imagen" alt="Imagen del blog" />
            <div class="card-content">
                <h3>{{ post.titulo }}</h3>
                <p *ngIf="!post.expandido">{{ post.resumen }}</p>
                <p *ngIf="post.expandido">{{ post.detalle }}</p>
                <button (click)="toggleExpandir(post)">
                    {{ post.expandido ? 'Leer menos' : 'Leer más' }}
                </button>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>