<app-hi></app-hi>
<br><br><br><br><br>


<div class="blog-container">
    <div class="tabs">
        <button *ngFor="let categoria of categorias" (click)="seleccionarCategoria(categoria)"
            [class.active]="categoria === categoriaSeleccionada">
            {{ categoria }}
        </button>
    </div>

    <div *ngIf="loading" class="loading-container">
        <div class="spinner"></div>
        <p>Cargando Blog...</p>
    </div>

    <div class="cards-grid" *ngIf="!loading">
        <div class="card" *ngFor="let post of postsFiltrados" [class.expanded]="post.expandido">

            <p *ngIf="!post.expandido && post.resumen">{{ post.resumen }}</p>
            <p *ngIf="post.expandido && post.detalle">{{ post.detalle }}</p>

            <!-- Nuevo: Mostrar contenido si el post está expandido -->
            <div *ngIf="post.expandido && post.contenido" class="contenido">
                <p>{{ post.contenido }}</p>
            </div>

            <!-- Validar que haya imagen -->
            <!-- <img [src]="post.imagen" alt="Imagen del blog" /> -->
            <img *ngIf="post.imagen" [src]="post.imagen" alt="Imagen del blog" />

            <div class="card-content">
                <h3>{{ post.titulo }}</h3>

                <!-- Validar que haya resumen y detalle -->
                <!-- <p *ngIf="!post.expandido">{{ post.resumen }}</p> -->
                <p *ngIf="!post.expandido && post.resumen">{{ post.resumen }}</p>
                <!-- <p *ngIf="post.expandido">{{ post.detalle }}</p> -->
                <p *ngIf="post.expandido && post.detalle">{{ post.detalle }}</p>


                <button (click)="toggleExpandir(post)">
                    {{ post.expandido ? 'Leer menos' : 'Leer más' }}
                </button>
            </div>
        </div>

        <!-- Si NO hay posts, mostramos un mensaje -->
        <div *ngIf="postsFiltrados.length === 0" class="no-posts">
            <div class="icon">&#128578;</div> <!-- emoji cara sonriente -->
            <p>No hay artículos en esta categoría aún.</p>
        </div>

    </div>
</div>



<app-footer></app-footer>