<app-hi></app-hi>

<br><br><br><br><br><br><br><br>

<div class="before-after-container">
    <h2>Galería de Peluquería Canina – Antes y Después</h2>

    <div class="before-after">
        <img src="assets/antes1.jpg" class="before-img" />
        <div class="after-img-wrapper" id="afterWrapper">
            <img src="assets/despues1.jpg" class="after-img" />
        </div>
        <input type="range" min="0" max="100" value="50" id="slider" />
    </div>

    <p>Corte de raza pequeña con estilo moderno.</p>
</div>






<app-footer></app-footer>