<app-hi></app-hi>

<div class="global">
    <div class="container">
        <div class="content">
            <div class="left-side">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">Dirección</div>
                    <div class="text-one">Calle 151 #114 - 40</div>
                    <div class="text-two">Bogota</div>
                </div>
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Teléfono</div>
                    <div class="text-one">+57 3186892093</div>
                    <div class="text-two">+57 3186892093</div>
                </div>
                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">valegroomer&#64;gmail.com</div>
                    <div class="text-two">info.valegroomer&#64;gmail.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Déjanos tu mensaje</div>
                <p>¿Quieres saber más sobre alguno de nuestros productos o servicios? ¿O tal vez contarnos tu
                    experiencia
                    con nosotros?
                    Déjanos tu mensaje aquí. ¡Nos encanta leerte!</p>
                <form>
                    <div class="input-box">
                        <input type="text" placeholder="¿Cómo te llamas?">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Escribe tu correo aquí">
                    </div>
                    <div class="input-box message-box">
                        <textarea id="message" name="message" rows="5"
                            placeholder="Escribe tu comentario aquí..."></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Enviar mi mensaje">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>