<footer class="footer">
    <div class="container">
        <!-- Logo a la izquierda -->
        <div class="footer-logo">
            <a href="../inicio/">
                <img src="assets/logo.png" alt="Logo" class="footer-logo-img">
            </a>
        </div>

        <!-- Enlaces de las secciones principales -->
        <div class="footer-links">
            <ul>
                <li><a href="../inicio/">Inicio</a></li>
                <li><a href="../peluqueria/">Peluquería</a></li>
                <li><a href="../galeria/">Galería</a></li>
                <li><a href="../blog/">Blog</a></li>
                <li><a href="../acerca/">Acerca de mí</a></li>
                <li><a href="../contactame/">Contáctame</a></li>
            </ul>
        </div>

        <!-- Redes sociales y contacto -->
        <div class="footer-socials">
            <ul>
                <li><a href="https://www.instagram.com/valrojagroomer?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                        target="_blank" class="icon-ig">
                        <img src="assets/icons/ig.png" alt="instagram">
                    </a>
                </li>
                <li><a href="https://www.facebook.com/ValentinaRojasGroomer" target="_blank" class="icon-fb">
                        <img src="assets/icons/fb.png" alt="Facebook">
                    </a></li>
                <li><a href="https://www.tiktok.com/@valentinagroomer" target="_blank" class="icon-tiktok">
                        <img src="assets/icons/tiktok.png" alt="TikTok">
                    </a></li>
                <li><a href="mailto:valentinagroomer@gmail.com" target="_blank" class="icon-gmail">
                        <img src="assets/icons/gmail.png" alt="Gmail">
                    </a></li>
                <li><a href="https://wa.me/1234567890" target="_blank" class="icon-wa">
                        <img src="../../assets/icons/wa.png" alt="WhatsApp">
                    </a></li>
                <li><a href="tel:+1234567890" class="icon-telefono">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"
                            alt="Teléfono">
                    </a></li>
            </ul>
        </div>

        <!-- Derechos de autor -->
        <div class="footer-rights">
            <p>© 2025 ValentinaRojasGroomer - Todos los derechos reservados</p>
        </div>
    </div>
</footer>