/*Todo el grid del footer*/
.footer-grid {
    background-color: #87d2c6;
    font-family: 'Poppins', sans-serif;
    padding: 2rem 1rem;
    color: #000;
    margin-top: 5px;
}

/*Contenedor de todo menos el pie de copiright*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    align-items: start;
    margin-top: 10px;
    grid-auto-flow: row;
}


/*Logo*/
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/*Imagen logo*/
.logo-img {
    width: 150px;
}

/*Links de redireccionamiento*/
.footer-links .links-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
    justify-items: center;
}

/*a href de links*/
.footer-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/*Registrate*/
.footer-newsletter {
    margin-top: 42px;
    text-align: center;
}

.footer-newsletter a {
    text-decoration: none;
    color: inherit;
}

/*Redes sociales*/
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
}

.footer-social h6 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/*Contactanos*/
.footer-contact {
    order: 1;
    /* Esto asegura que se coloque después dentro del grid */
    text-align: center;
}

.footer-contact a {
    text-decoration: none;
    color: inherit;
}

/*Iconos configuración*/
.social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: center;
    margin-top: 0.5rem;
}

/*Imagen de iconos*/
.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Animación suave */
.footer a,
.social-icons img {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover sobre los links */
.footer a:hover {
    transform: translateY(-2px);
    opacity: 0.8;
}

/* Hover sobre los íconos */
.social-icons img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/*Footer Bottom*/
.footer-bottom {
    text-align: center;
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif
}

.footer-bottom-2 {
    text-align: center;
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25d366;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
}

/* Responsivo */
@media (max-width: 480px) {
    .whatsapp-button {
        bottom: 15px;
        right: 15px;
        padding: 8px;
    }

    .whatsapp-button img {
        width: 36px;
        height: 36px;
    }
}