<footer class="footer-grid">
    <div class="grid-container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="../inicio/">
                <img src="assets/logo_fondo.png" alt="Logo" class="logo-img" />
            </a>
            <div class="footer-certification">
                <p>Groomer certificada – Cuidado especializado y vegano</p>
            </div>
        </div>

        <!-- Links -->
        <div class="footer-links">
            <div class="links-grid">
                <a href="../inicio/">Inicio</a>
                <a href="../peluqueria/">Peluquería</a>
                <a href="../galeria/">Galería</a>
                <a href="../blog/">Blog</a>
                <a href="../testimonios/">Testimonios</a>
                <a href="../acerca/">Acerca de mí</a>
                <a href="../productos/">Productos</a>
                <a href="../servicios/">Servicios</a>
            </div>
        </div>

        <!-- Registrate-->
        <div class="footer-newsletter">
            <h6>¿Quieres saber más sobre nuestros productos y servicios?</h6>
            <br />
            <a href="../contactame/">Contáctame</a>
        </div>

        <!-- Redes sociales -->
        <div class="footer-social">
            <h6>Redes Sociales</h6>
            <div class="social-icons">
                <a href="https://www.instagram.com/valrojagroomer/profilecard/?igsh=ZTNjOGNwYXdlcnZn" target="_blank">
                    <img src="assets/instagram_logo.ico" class="img-fluid" width="25" alt="instagram" />
                </a>
                <a href="https://www.facebook.com/share/165Kvap7J6/" target="_blank">
                    <img src="assets/facebook_logo.ico" class="img-fluid" width="25" alt="facebook" />
                </a>
                <a href="https://www.tiktok.com/@valroja.groomer" target="_blank">
                    <img src="assets/tiktok_logo.png" class="img-fluid" width="25" alt="tiktok" />
                </a>
            </div>

            <br />

            <!-- Contacto -->
            <div class="footer-contact">
                <h6>Canales de atención</h6>

                <div class="contact-item">
                    <a href="https://wa.me/qr/2YR4DL7L5OIXB1" target="_blank">
                        <img src="assets/whatsapp_logo.ico" class="img-fluid" width="25" alt="whatsapp" />
                        <span>+57 313 6010927</span>
                    </a>
                </div>

                <div class="contact-item">
                    <img src="assets/gmail_logo.ico" class="img-fluid" width="25" alt="gmail" />
                    <a href="mailto:contacto@gmail.com">contacto&#64;gmail.com</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-bottom-2">Aplican términos y condiciones</div>
    <div class="footer-bottom">
        Copyright Ⓒ2025 Designed by Manuel Morgan. All Rights Reserved.
    </div>

    <a href="https://wa.me/qr/2YR4DL7L5OIXB1" target="_blank" class="whatsapp-button"
        aria-label="Contáctanos por WhatsApp">
        <img src="assets/whatsapp_logo.ico" alt="WhatsApp" />
    </a>
</footer>