<footer class="footer-grid">
    <div class="grid-container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="../inicio/">
                <img src="assets/logo_fondo.png" alt="Logo" class="logo-img" />
            </a>
            <div class="footer-certification">
                <p>Groomer certificada – Cuidado especializado y vegano</p>
            </div>
        </div>

        <!-- Links -->
        <div class="footer-links">
            <div class="links-grid">
                <a href="../inicio/">Inicio</a>
                <a href="../peluqueria/">Peluquería</a>
                <a href="../galeria/">Galería</a>
                <a href="../blog/">Blog</a>
                <a href="../testimonios/">Testimonios</a>
                <a href="../acerca/">Acerca de mí</a>
                <a href="../productos/">Productos</a>
                <a href="../servicios/">Servicios</a>
            </div>
        </div>

        <!-- Registrate-->
        <div class="footer-newsletter">
            <h6>¿Quieres promociones?</h6>
            <p>Suscríbete a nuestro boletín mensual</p>
            <a href="../login/">Registrate</a>
        </div>

        <!-- Redes sociales -->
        <div class="footer-social">
            <h6>Redes Sociales</h6>
            <div class="social-icons">
                <a href="https://www.instagram.com/hidrapaws?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                    target="_blank">
                    <img src="assets/instagram_logo.ico" class="img-fluid " width="25" alt="instagram">
                </a>
                <a href="https://www.facebook.com/share/165Kvap7J6/" target="_blank">
                    <img src="assets/facebook_logo.ico" class="img-fluid " width="25" alt="facebook">
                </a>
                <a href="https://www.instagram.com/hidrapaws?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                    target="_blank">
                    <img src="assets/tiktok_logo.png" class="img-fluid " width="25" alt="tiktok">
                </a>
            </div>
            <br>
            <!-- Contactanos -->
            <div class="footer-contact">
                <h6>Contáctanos</h6>
                <a href="https://www.instagram.com/hidrapaws?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                    target="_blank">
                    <p><strong><img src="assets/whatsapp_logo.ico" class="img-fluid " width="25"
                                alt="whatsapp"></strong>
                        +57 313 6010927</p>
                </a>
                <a href="https://www.instagram.com/hidrapaws?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                    target="_blank">
                    <p><strong><img src="assets/gmail_logo.ico" class="img-fluid " width="25" alt="gmail"></strong> <a
                            href="mailto:contacto@gmail.com"> contacto&#64;gmail.com</a></p>
                </a>
            </div>
        </div>
    </div>


    <!-- Copyright -->

    <div class="footer-bottom-2">
        Aplican terminos y Condiciones
    </div>
    <div class="footer-bottom">
        CopyRight Ⓒ2025 Designed by Manuel Morgan All Rights Reserved
    </div>
</footer>